{
  "email": "user@email.com",
  "passwd": "password",
  "code": "",
  "remember_me": "week"
}

{
  "email": "Zz5Rkwu@outlook.com",
  "passwd": "FktlU627KwwV6i1pXjxf",
  "code": "",
  "remember_me": "week"
}
